@import "tailwindcss";
:root {
  --primary-color: #0f0f4f; /* Dark blue */
  --secondary-color: #049730; /* Green */
  --green-accent-color: #23f669; /* Luminescent Green */
  --orange-accent-color: #ff7f00; /* Orange */
  --text-color: #ffffff; /* White */
}

body{
  background-color: #0f0f4f;
}

.green-circle {
  background: linear-gradient(#049730, #23f669); /* Green gradient */
}

.orange-circle {
  background: linear-gradient(#ff7f00, #ffb300); /* Orange gradient */
}